{% extends 'notes_app/index.html' %}

{% block content %}
<form class="" action="{% url 'notes_app:register_user' %}" method="post">
	{% csrf_token %}
	<input type="text" name="username" value="" placeholder="Username">
	<input type="text" name="email" value="" placeholder="Email">
	<input type="text" name="password" value="" placeholder="Password">
	<input type="text" name="first_name" value="" placeholder="first name">
	<input type="text" name="last_name" value="" placeholder="last name">
	<button type="submit">Register</button>
</form>
{% endblock %}
